body{
	margin:0;
}

#lorem {
    width: 250px;
    height: 250px;
    border: 2px solid black;
}
.content{
    background-color: red;
    color: #FFF;
	width: 100% ;
    height: 50px;
	margin-bottom: 20px;	
}
.main-manu{
	type-style: none;
}
div#lorem {
    color: #000;
    width: 250px;
    height: 250px;
    border: 2px solid black;
	overflow: scroll;
	padding: 10px 10px 10px 10px;
}